* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.scroll__style {
  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $blue;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(#FF6600, 0.6);
  }
}

body {
  background: #fff;
  color: #000;
  font-size: 16px;
  font-family: $mf;
  font-weight: normal;
  @extend .scroll__style;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.clear {
  clear: both;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}
